.btn-enviar {
  margin-top: 12px;
  padding: 0.9rem 1.4rem;
  border: none;
  border-radius: 999px;
  background: $color-primario;
  color: $color-blanco;
  font-weight: 700;
  box-shadow: $shadow-soft;
  transition: .25s ease;

  &:hover {
    background: $color-primario-borde;
  }
}
