.section-contacto {
  margin-bottom: 2rem;

  ul.valores {
    padding-left: 0;

    li {
      margin-bottom: .5rem;
      font-size: 1rem;
    }
  }
}

.section-form {
  h2 {
    margin-bottom: 1rem;
  }
}
